#%RAML 0.8
---
title: TROR-DATA Act Compliance
version: v1
baseUri: https://api.transparency.treasury.gov/services/api
protocols: [ HTTPS ]

/fiscal_service/v1/debt/tror/data_act_compliance:
  description: TROR-DATA Act Compliance
  get:
    queryParameters:
      fields:
        displayName: Field List
        type: string
        description: Field parameter accepts a comma separated list of field names that the user wants to be returned in the response.
        example: fields=xxx,yyy,zzz
        required: false
        default:
      filter:
        displayName: Filter
        type: string
        description: Filter is used to apply logic criteria to each field if necessary (lt, gt, lte, gte, eq, in).
        example: 1) filter=xxx:eq:value,yyy:lt:1,zzz:gt:10  2) filter=reporting_fiscal_year:in:(2007,2008,2009,2010)
        required: false
        default:
      sort:
        displayName: Sorting
        type: string
        description: Sorting parameter accepts a comma separated list of field names that the user wants to sort the response by.
        example: sort=xxx,-yyy,zzz
        required: false
        default:
      pretty_print:
        displayName: Pretty Print
        type: string
        description: Pretty print will put carriage returns and indentation in the json response so that it can be easily read by a human.
        example: pretty_print=yes
        required: false
        default: no
      format:
        displayName: Response Format
        type: string
        description: Format is used to define how output method for the response (json, xml, csv).
        example: format=json
        required: false
        default: json
      limit:
        displayName: Row Limit
        type: number
        description: Limit will set the number of rows that are returned in a request.
        example: limit=100
        required: false
        default: 100
      offset:
        displayName: Row Offset
        type: number
        description: Offset will set the starting point of the pagination.
        example: offset=0
        required: false
        default: 0
    responses:
      200:
        body:
          application/xml:
          application/csv:
          application/json:
            schema: |
              {
                "type": "object",
                "$schema": "http://json-schema.org/draft-03/schema",
                "id": "http://jsonschema.net",
                "properties": {
                  "total_eligible_debt_amt": {
                    "type": "number",
                    "description": "Total Dollar Amount Eligible",
                    "format": "10.2"
                  },
                  "total_eligible_debt_cnt": {
                    "type": "number",
                    "description": "Total Number of Eligible Debts",
                    "format": "10.2"
                  },
                  "eligible_debt_referred_amt": {
                    "type": "number",
                    "description": "Dollar Amount of Eligible Referred",
                    "format": "10.2"
                  },
                  "eligible_debt_referred_cnt": {
                    "type": "number",
                    "description": "Number of Eligible Debts Referred",
                    "format": "10.2"
                  },
                  "eligible_debt_not_referred_amt": {
                    "type": "number",
                    "description": "Dollar Amount of Eligible Not Referred",
                    "format": "10.2"
                  },
                  "eligible_debt_not_referred_cnt": {
                    "type": "number",
                    "description": "Number of Debts Not Referred",
                    "format": "10.2"
                  },
                  "compliance_rate_amt": {
                    "type": "number",
                    "description": "Compliance Rate Amount Percentage",
                    "format": "10.2"
                  },
                  "compliance_rate_cnt": {
                    "type": "number",
                    "description": "Compliance Rate Count Percentage",
                    "format": "10.2"
                  },
                  "reporting_fiscal_quarter": {
                    "type": "quarter",
                    "description": "Fiscal Quarter Number",
                    "format": "Q"
                  },
                  "reporting_calendar_day": {
                    "type": "day",
                    "description": "Calendar Day Number",
                    "format": "DD"
                  },
                  "reporting_calendar_month": {
                    "type": "month",
                    "description": "Calendar Month Number",
                    "format": "MM"
                  },
                  "reporting_calendar_year": {
                    "type": "year",
                    "description": "Calendar Year",
                    "format": "YYYY"
                  },
                  "reporting_fiscal_year": {
                    "type": "year",
                    "description": "Fiscal Year",
                    "format": "YYYY"
                  },
                  "id": {
                    "type": "string",
                    "description": "ID",
                    "format": ""
                  },
                  "name": {
                    "type": "string",
                    "description": "Name",
                    "format": ""
                  },
                  "parent_id": {
                    "type": "string",
                    "description": "Parent ID",
                    "format": ""
                  },
                  "agency_bureau_indicator": {
                    "type": "string",
                    "description": "Agency Bureau Indicator",
                    "format": ""
                  },
                  "cfo_agency_indicator": {
                    "type": "string",
                    "description": "CFO Agency Indicator",
                    "format": ""
                  },
                  "reporting_quarter_end_date": {
                    "type": "date",
                    "description": "Reporting Quarter End Date",
                    "format": "YYYY-MM-DD"
                  }
                }
              }
      400:
        body:
          application/json:
            example: |
              {"error":"Invalid Query Param","message":"Invalid query parameter 'foo' with value '[error]'.  For more information please see the documentation."}