#%RAML 0.8
---
title: TROR-Analytics Receivable Accruals Additional Receivables
version: v1
baseUri: https://transparency.treasury.gov:443/services/api
protocols: [ HTTP ]

/fiscal_service/v1/debt/tror/analytics_receivable_accruals_additional_receivables:
  description: TROR-Analytics Receivable Accruals Additional Receivables
  get:
    queryParameters:
      fields:
        displayName: Field List
        type: string
        description: Field parameter accepts a comma separated list of field names that the user wants to be returned in the response.
        example: fields=xxx,yyy,zzz
        required: false
        default: 
      filter:
        displayName: Filter
        type: string
        description: Filter is used to apply logic criteria to each field if necessary (lt, gt, lte, gte, eq, in).
        example: 1) filter=xxx:eq:value,yyy:lt:1,zzz:gt:10  2) filter=reporting_fiscal_year:in:(2007,2008,2009,2010)
        required: false
        default: 
      sort:
        displayName: Sorting
        type: string
        description: Sorting parameter accepts a comma separated list of field names that the user wants to sort the response by.
        example: sort=xxx,-yyy,zzz
        required: false
        default: 
      pretty_print:
        displayName: Pretty Print
        type: string
        description: Pretty print will put carriage returns and indentation in the json response so that it can be easily read by a human.
        example: pretty_print=yes
        required: false
        default: no
      format:
        displayName: Response Format
        type: string
        description: Format is used to define how output method for the response (json, xml, csv).
        example: format=json
        required: false
        default: json
      limit:
        displayName: Row Limit
        type: number
        description: Limit will set the number of rows that are returned in a request.
        example: limit=100
        required: false
        default: 100
      offset:
        displayName: Row Offset
        type: number
        description: Offset will set the starting point of the pagination.
        example: offset=0
        required: false
        default: 0
    responses:
      200:
        body:
          application/xml:
          application/csv:
          application/json:
            schema: |
              {
                "type": "object",
                "$schema": "http://json-schema.org/draft-03/schema",
                "id": "http://jsonschema.net",
                "properties": {
                  "reporting_calendar_year": {
                    "type": "year",
                    "description": "Calendar Year",
                    "format": "YYYY"
                  },
                  "reporting_fiscal_year": {
                    "type": "year",
                    "description": "Fiscal Year",
                    "format": "YYYY"
                  },
                  "reporting_calendar_quarter": {
                    "type": "string",
                    "description": "Calendar Quarter Number",
                    "format": ""
                  },
                  "reporting_fiscal_quarter": {
                    "type": "string",
                    "description": "Fiscal Quarter Number",
                    "format": ""
                  },
                  "reporting_calendar_month": {
                    "type": "month",
                    "description": "Calendar Month Number",
                    "format": "MM"
                  },
                  "reporting_fiscal_month": {
                    "type": "month",
                    "description": "Fiscal Month Number",
                    "format": "MM"
                  },
                  "reporting_quarter_end_date": {
                    "type": "date",
                    "description": "Reporting Quarter End Date",
                    "format": "YYYY-MM-DD"
                  },
                  "reporting_quarter_end_year": {
                    "type": "year",
                    "description": "Reporting Quarter End Year",
                    "format": "YYYY"
                  },
                  "reporting_window_status": {
                    "type": "string",
                    "description": "Reporting Window Status",
                    "format": ""
                  },
                  "receivable_type_id": {
                    "type": "number",
                    "description": "Receivable Type ID",
                    "format": "10.2"
                  },
                  "receivable_type": {
                    "type": "number",
                    "description": "Receivable Type",
                    "format": "10.2"
                  },
                  "receivable_type_description": {
                    "type": "string",
                    "description": "Receivable Type Descriptions",
                    "format": ""
                  },
                  "is_receivable_type_active": {
                    "type": "string",
                    "description": "Receivable Type Active Indicator",
                    "format": ""
                  },
                  "funding_type_id": {
                    "type": "number",
                    "description": "Funding Type ID",
                    "format": "10.2"
                  },
                  "funding_type": {
                    "type": "number",
                    "description": "Funding Type",
                    "format": "10.2"
                  },
                  "funding_type_description": {
                    "type": "string",
                    "description": "Funding Type Description",
                    "format": ""
                  },
                  "end_balance_amount": {
                    "type": "number",
                    "description": "Ending Balance Amount",
                    "format": "10.2"
                  },
                  "end_balance_count": {
                    "type": "number",
                    "description": "Ending Balance Count",
                    "format": "10.2"
                  },
                  "debt_by_category_amount": {
                    "type": "number",
                    "description": "Delinquent Debt By Category Amount",
                    "format": "10.2"
                  },
                  "debt_by_category_count": {
                    "type": "number",
                    "description": "Delinquent Debt By Category Count",
                    "format": "10.2"
                  },
                  "beginning_fiscal_year_balance": {
                    "type": "number",
                    "description": "Beginning Fiscal Year Balance",
                    "format": "10.2"
                  },
                  "new_receivables_amount": {
                    "type": "number",
                    "description": "New Receivables Amount",
                    "format": "10.2"
                  },
                  "accruals_amount": {
                    "type": "number",
                    "description": "Accruals Amount",
                    "format": "10.2"
                  },
                  "collections_total_amount": {
                    "type": "number",
                    "description": "Collections Total Amount",
                    "format": "10.2"
                  },
                  "adjusted_total_amount": {
                    "type": "number",
                    "description": "Adjusted Total Amount",
                    "format": "10.2"
                  },
                  "delinquent_rate_percent_amount": {
                    "type": "number",
                    "description": "Delinquent Rate Percent Amount",
                    "format": "10.2"
                  },
                  "delinquent_rate_percent_count": {
                    "type": "number",
                    "description": "Delinquent Rate Percent Count",
                    "format": "10.2"
                  },
                  "foreign_sovereign_percent": {
                    "type": "number",
                    "description": "Foreign Sovereign Percent",
                    "format": "10.2"
                  },
                  "state_local_percent": {
                    "type": "number",
                    "description": "State and Local Percent",
                    "format": "10.2"
                  },
                  "rescheduled_debt_percent": {
                    "type": "number",
                    "description": "Rescheduled Debt Percent",
                    "format": "10.2"
                  },
                  "rescheduled_non_debt_percent": {
                    "type": "number",
                    "description": "Rescheduled Non Debt Percent",
                    "format": "10.2"
                  },
                  "interest_late_charge_percent": {
                    "type": "number",
                    "description": "Interest Late Charge Percent",
                    "format": "10.2"
                  },
                  "delinquent_rate_percent_amount": {
                    "type": "number",
                    "description": "Delinquency Rate Amount",
                    "format": "10.2"
                  },
                  "foreign_sovereign_gov_amount": {
                    "type": "number",
                    "description": "Delinquent Debt Foreign Sovereign Government Dollar Amount",
                    "format": "10.2"
                  },
                  "state_local_amount": {
                    "type": "number",
                    "description": "State and Local Government Amount",
                    "format": "10.2"
                  },
                  "rescheduled_debt_amount": {
                    "type": "number",
                    "description": "Rescheduled Debt Delinquent Amount",
                    "format": "10.2"
                  },
                  "rescheduled_non_debt_amount": {
                    "type": "number",
                    "description": "Rescheduled Debt Non-Delinquent Amount",
                    "format": "10.2"
                  },
                  "interest_late_charge_amount": {
                    "type": "number",
                    "description": "Interest and Late Charge Amount",
                    "format": "10.2"
                  },
                  "write_off_amount": {
                    "type": "number",
                    "description": "Write Offs Total Amount",
                    "format": "10.2"
                  }
                }
              }
      400:
        body:
          application/json:
            example: |
              {"error":"Invalid Query Param","message":"Invalid query parameter 'foo' with value '[error]'.  For more information please see the documentation."}