#%RAML 0.8
---
title: JFICS Congressional Report
version: v1
baseUri: https://api.transparency.treasury.gov/services/api
protocols: [ HTTP ]

/fiscal_service/v1/payments/jfics/jfics_congress_report:
  description: JFICS Congressional Report
  get:
    queryParameters:
      fields:
        displayName: Field List
        type: string
        description: Field parameter accepts a comma separated list of field names that the user wants to be returned in the response.
        example: fields=xxx,yyy,zzz
        required: false
        default: 
      filter:
        displayName: Filter
        type: string
        description: Filter is used to apply logic criteria to each field if necessary (lt, gt, lte, gte, eq, in).
        example: 1) filter=xxx:eq:value,yyy:lt:1,zzz:gt:10  2) filter=reporting_fiscal_year:in:(2007,2008,2009,2010)
        required: false
        default: 
      sort:
        displayName: Sorting
        type: string
        description: Sorting parameter accepts a comma separated list of field names that the user wants to sort the response by.
        example: sort=xxx,-yyy,zzz
        required: false
        default: 
      pretty_print:
        displayName: Pretty Print
        type: string
        description: Pretty print will put carriage returns and indentation in the json response so that it can be easily read by a human.
        example: pretty_print=yes
        required: false
        default: no
      format:
        displayName: Response Format
        type: string
        description: Format is used to define how output method for the response (json, xml, csv).
        example: format=json
        required: false
        default: json
      limit:
        displayName: Row Limit
        type: number
        description: Limit will set the number of rows that are returned in a request.
        example: limit=100
        required: false
        default: 100
      offset:
        displayName: Row Offset
        type: number
        description: Offset will set the starting point of the pagination.
        example: offset=0
        required: false
        default: 0
    responses:
      200:
        body:
          application/xml:
          application/csv:
          application/json:
            schema: |
              {
                "type": "object",
                "$schema": "http://json-schema.org/draft-03/schema",
                "id": "http://jsonschema.net",
                "properties": {
                  "data_date": {
                    "type": "date",
                    "description": "Data Date",
                    "format": "YYYY-MM-DD"
                  },
                  "src_line_nbr": {
                    "type": "number",
                    "description": "Source Line Number",
                    "format": "10.2"
                  },
                  "reporting_fiscal_year": {
                    "type": "year",
                    "description": "Fiscal Year",
                    "format": "YYYY"
                  },
                  "reporting_fiscal_quarter": {
                    "type": "quarter",
                    "description": "Fiscal Quarter Number",
                    "format": "Q"
                  },
                  "reporting_fiscal_month": {
                    "type": "month",
                    "description": "Fiscal Month Number",
                    "format": "MM"
                  },
                  "reporting_calendar_year": {
                    "type": "year",
                    "description": "Calendar Year",
                    "format": "YYYY"
                  },
                  "reporting_calendar_quarter": {
                    "type": "quarter",
                    "description": "Calendar Quarter Number",
                    "format": "Q"
                  },
                  "reporting_calendar_month": {
                    "type": "month",
                    "description": "Calendar Month Number",
                    "format": "MM"
                  },
                  "reporting_calendar_day": {
                    "type": "day",
                    "description": "Calendar Day Number",
                    "format": "DD"
                  },
                  "defendant_agency_nm": {
                    "type": "string",
                    "description": "Defendant Agency Name",
                    "format": ""
                  },
                  "submitting_agency_nm": {
                    "type": "string",
                    "description": "Submitting Agency Name",
                    "format": ""
                  },
                  "control_nbr": {
                    "type": "number",
                    "description": "Control Number",
                    "format": "10.2"
                  },
                  "plantiffs_counsel_nm": {
                    "type": "string",
                    "description": "Plantiffs Counsel Name",
                    "format": ""
                  },
                  "payment_id": {
                    "type": "number",
                    "description": "Payment ID",
                    "format": "10.2"
                  },
                  "payment_sent_dt": {
                    "type": "number",
                    "description": "Payment Sent Date",
                    "format": "10.2"
                  },
                  "confirmed_amt": {
                    "type": "number",
                    "description": "Confirmed Amount",
                    "format": "10.2"
                  },
                  "principal_amt": {
                    "type": "number",
                    "description": "Principal Amount",
                    "format": "10.2"
                  },
                  "principal_citation_cd": {
                    "type": "string",
                    "description": "Principal Citation Code",
                    "format": ""
                  },
                  "principal_citation_desc": {
                    "type": "string",
                    "description": "Principal Citation Description",
                    "format": ""
                  },
                  "attorneys_fee_amt": {
                    "type": "number",
                    "description": "Attorneys Fee Amount",
                    "format": "10.2"
                  },
                  "attorneys_fee_citation_cd": {
                    "type": "string",
                    "description": "Attorneys Fee Citation Code",
                    "format": ""
                  },
                  "attorneys_fee_citation_desc": {
                    "type": "string",
                    "description": "Attorneys Fee Citation Description",
                    "format": ""
                  },
                  "cost_amt": {
                    "type": "number",
                    "description": "Cost Amount",
                    "format": "10.2"
                  },
                  "cost_citation_cd": {
                    "type": "string",
                    "description": "Cost Citation Code",
                    "format": ""
                  },
                  "cost_citation_desc": {
                    "type": "string",
                    "description": "Cost Citation Description",
                    "format": ""
                  },
                  "interest_fee_amt": {
                    "type": "number",
                    "description": "Interest Amount",
                    "format": "10.2"
                  },
                  "interest_citation_cd": {
                    "type": "string",
                    "description": "Interest Citation Code",
                    "format": ""
                  },
                  "interest_citation_desc": {
                    "type": "string",
                    "description": "Interest Citation Description",
                    "format": ""
                  },
                  "judgment_type_cd": {
                    "type": "string",
                    "description": "Judgment Type Code",
                    "format": ""
                  },
                }
              }
      400:
        body:
          application/json:
            example: |
              {"error":"Invalid Query Param","message":"Invalid query parameter 'foo' with value '[error]'.  For more information please see the documentation."}