#%RAML 0.8
---
title: OD-Record Setting Auction
version: v1
baseUri: https://api.transparency.treasury.gov/services/api
protocols: [ HTTPS ]

/fiscal_service/v1/accounting/od/record_setting_auction:
  description: Record Setting Auction
  get:
    queryParameters:
      fields:
        displayName: Field List
        type: string
        description: Field parameter accepts a comma separated list of field names that the user wants to be returned in the response.
        example: fields=xxx,yyy,zzz
        required: false
        default:
      filter:
        displayName: Filter
        type: string
        description: Filter is used to apply logic criteria to each field if necessary (lt, gt, lte, gte, eq, in).
        example: 1) filter=xxx:eq:value,yyy:lt:1,zzz:gt:10  2) filter=reporting_fiscal_year:in:(2007,2008,2009,2010)
        required: false
        default:
      sort:
        displayName: Sorting
        type: string
        description: Sorting parameter accepts a comma separated list of field names that the user wants to sort the response by.
        example: sort=xxx,-yyy,zzz
        required: false
        default:
      pretty_print:
        displayName: Pretty Print
        type: string
        description: Pretty print will put carriage returns and indentation in the json response so that it can be easily read by a human.
        example: pretty_print=yes
        required: false
        default: no
      format:
        displayName: Response Format
        type: string
        description: Format is used to define how output method for the response (json, xml, csv).
        example: format=json
        required: false
        default: json
      limit:
        displayName: Row Limit
        type: number
        description: Limit will set the number of rows that are returned in a request.
        example: limit=100
        required: false
        default: 100
      offset:
        displayName: Row Offset
        type: number
        description: Offset will set the starting point of the pagination.
        example: offset=0
        required: false
        default: 0
    responses:
      200:
        body:
          application/xml:
          application/csv:
          application/json:
            schema: |
              {
                "type": "object",
                "$schema": "http://json-schema.org/draft-03/schema",
                "id": "http://jsonschema.net",
                "properties": {
                  "mth_day_nbr": {
                    "type": "number",
                    "description": "Calendar Day Number",
                    "format": "10.2"
                  },
                  "cal_mth_nbr": {
                    "type": "number",
                    "description": "Calendar Month Number",
                    "format": "10.2"
                  },
                  "data_dt": {
                    "type": "date",
                    "description": "Data Date",
                    "format": "YYYY-MM-DD"
                  },
                  "cal_yr": {
                    "type": "number",
                    "description": "Calendar Year",
                    "format": "10.2"
                  },
                  "cal_qtr_nbr": {
                    "type": "number",
                    "description": "Calendar Quarter Number",
                    "format": "10.2"
                  },
                  "fiscal_yr": {
                    "type": "number",
                    "description": "Fiscal Year",
                    "format": "10.2"
                  },
                  "fiscal_mth_nbr": {
                    "type": "number",
                    "description": "Fiscal Month Number",
                    "format": "10.2"
                  },
                  "fiscal_qtr_nbr": {
                    "type": "number",
                    "description": "Fiscal Quarter Number",
                    "format": "10.2"
                  },
                  "src_line_nbr": {
                    "type": "number",
                    "description": "Source Line Number",
                    "format": "10.2"
                  },
                  "type": {
                    "type": "string",
                    "description": "Type",
                    "format": ""
                  },
                  "security_term": {
                    "type": "string",
                    "description": "Security Term",
                    "format": ""
                  },
                  "first_auction_date_by_term": {
                    "type": "date",
                    "description": "First Auction Date by Term",
                    "format": "YYYY-MM-DD"
                  },
                  "lowest_rate_percent": {
                    "type": "number",
                    "description": "Lowest Rate Percent",
                    "format": "10.2"
                  },
                  "first_auction_date_low_rate": {
                    "type": "date",
                    "description": "First Auction Date by Lowest Rate",
                    "format": "YYYY-MM-DD"
                  },
                  "highest_rate_percent": {
                    "type": "number",
                    "description": "Highest Rate Percent",
                    "format": "10.2"
                  },
                  "first_auction_date_high_rate": {
                    "type": "date",
                    "description": "First Auction Date by Highest Rate",
                    "format": "YYYY-MM-DD"
                  },
                  "highest_offering_amount": {
                    "type": "number",
                    "description": "Highest Offering Amount",
                    "format": "10.2"
                  },
                  "first_auction_date_high_offer": {
                    "type": "date",
                    "description": "First Auction Date by Highest Offer",
                    "format": "YYYY-MM-DD"
                  },
                  "highest_bid_cover_ratio": {
                    "type": "number",
                    "description": "Highest Bid to Cover Ratio",
                    "format": "10.2"
                  },
                  "first_auction_date_bid_cover": {
                    "type": "date",
                    "description": "First Auction Date by Bid to Cover Ratio",
                    "format": "YYYY-MM-DD"
                  },
                }
              }
      400:
        body:
          application/json:
            example: |
              {"error":"Invalid Query Param","message":"Invalid query parameter 'foo' with value '[error]'.  For more information please see the documentation."}